<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.studyroom">

    <application
        android:name=".StudyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".DetailPage.DetailPageActivity"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Auth.Login.LoginActivity"
            android:windowSoftInputMode="adjustResize"></activity>
        <activity android:name=".Main.MainActivity" />
        <activity android:name=".ReservationPage.ReservationActivity.ReservationActivity" />
        <activity android:name=".Auth.Register.RegisterEmailActivity" />
        <activity android:name=".Auth.Register.RegisterCardActivity" />
        <activity android:name=".Auth.Register.RegisterPhoneValidActivity" />
        <activity android:name=".ReservationPage.ReserveHistoryDetailActivity"></activity>
    </application>

</manifest>